<script type="text/x-red" data-template-name="telnyx-transfer">

</script>

<script type="text/javascript">
  (function () {
    var TelnyxTransferType = {
      category: 'Telnyx IVR',
      color: '#f1b2db',
      inputs: 1,
      outputs: 0,
      icon: 'white-globe.png',
      label: function() { if (this.name) { return this.name } else { return 'Transfer Call' } },
      labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Transfer Call'; },

      defaults: {
        name: { value: '' }
      }
    };

    RED.nodes.registerType('telnyx-transfer', TelnyxTransferType);
  })();
</script>
