<script type="text/x-red" data-template-name="telnyx-blacklist">
	<-- TODO: Choose from / add multiple blacklist data sources. -->
</script>

<script type="text/javascript">
  (function () {
    var TelnyxBlacklistType = {
      category: 'Telnyx IVR',
      color: '#9e968c',
      inputs: 1,
      outputs: 1,
      icon: 'white-globe.png',
      label: function() { if (this.name) { return this.name } else { return 'Blacklist' } },
      labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Blacklist'; },

      defaults: {
        name: { value: '' }
      }
    };

    RED.nodes.registerType('telnyx-blacklist', TelnyxBlacklistType);
  })();
</script>
