<script type="text/x-red" data-template-name="telnyx-play">

</script>

<script type="text/javascript">
  (function () {
    var TelnyxPlayType = {
      category: 'Telnyx IVR',
      color: '#9ce7d6',
      inputs: 1,
      outputs: 0,
      icon: 'white-globe.png',
      label: function() { if (this.name) { return this.name } else { return 'Play' } },
      labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Play'; },

      defaults: {
        name: { value: '' }
      }
    };

    RED.nodes.registerType('telnyx-play', TelnyxPlayType);
  })();
</script>
