<script type="text/x-red" data-template-name="telnyx-record">

</script>

<script type="text/javascript">
  (function () {
    var TelnyxRecordType = {
      category: 'Telnyx IVR',
      color: '#fbb0bc',
      inputs: 1,
      outputs: 0,
      icon: 'white-globe.png',
      label: function() { if (this.name) { return this.name } else { return 'Record' } },
      labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Record'; },

      defaults: {
        name: { value: '' }
      }
    };

    RED.nodes.registerType('telnyx-record', TelnyxRecordType);
  })();
</script>
