<script type="text/x-red" data-template-name="telnyx-ivr-in">
    <div class="form-row">
        <label for="node-input-url"><i class="fa fa-globe"></i> <span data-i18n="httpin.label.url">/ivr/{GUID}</span></label>
        <input id="node-input-url" type="text" placeholder="b6374607-5f07-4e2c-8f3c-a27d625dfd03" readonly>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="common.label.name">Name</span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]common.label.name" placeholder="Optional Name">
    </div>
    <div id="node-input-tip" class="form-tips"><h5>Webhook Endpoint URL:</h5><br/><code id="url"></code></div>
</script>

<script type="text/javascript">
	(function () {
	  var urlGuid = RED.settings.telnyxIvrIn_urlGuid;

	  var TelnyxIvrInType = {
	  	category: 'Telnyx IVR',
			color: '#f2f0a0',
			inputs: 0,
			outputs: 1,
			icon: 'white-globe.png',
			label: function() { if (this.name) { return 'Incoming IVR [' + this.name  + ']'} else { return 'Incoming IVR' } },
			labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Incoming IVR'; },
			oneditprepare: function() {
	  		let location = window.location;
				$('#url').html(
					location.protocol + '//' + location.host +
					'/ivr/' + $('#node-input-url').val());
			},

			defaults: {
	  		name: { value: '' },
				url: { value: urlGuid, required: true }
	  	}
  	};

		RED.nodes.registerType('telnyx-ivr-in', TelnyxIvrInType);
  })();
</script>
