<script type="text/x-red" data-template-name="telnyx-speak">
	<style>
		.form-row label.node-label {
			width: 130px;
		}

		.node-input {
			width: 70%;
		}
	</style>
	<div class="form-row">
			<label for="node-input-name" class="node-label"><i class="fa fa-tag"></i> <span data-i18n="common.label.name">Name</span></label>
			<input type="text" id="node-input-name" class="node-input" data-i18n="[placeholder]common.label.name">
	</div>
	<div class="form-row">
		<label for="node-input-speakType" class="node-label"><i class="fa fa-long-arrow-right"></i> <span>Speak Type</span></label>
		<select id="node-input-speakType" class="node-input">
			<option value="text">Text</option>
			<option value="ssml">SSML</option>
		</select>
	</div>
	<div class="form-row">
		<label for="node-input-serviceLevel" class="node-label"><i class="fa fa-long-arrow-right"></i> <span>Service Level</span></label>
		<select id="node-input-serviceLevel" class="node-input">
			<option value="text">Basic</option>
			<option value="ssml">Premium</option>
		</select>
	</div>
	<div class="form-row">
		<label for="node-input-gender" class="node-label"><i class="fa fa-long-arrow-right"></i> <span>Voice Gender</span></label>
		<select id="node-input-gender" class="node-input">
			<option value="female">Female</option>
			<option value="male">Male</option>
		</select>
	</div>
	<div class="form-row">
		<label for="node-input-language" class="node-label"><i class="fa fa-long-arrow-right"></i> <span>Language</span></label>
		<select id="node-input-language" class="node-input">
			<option value="en-US">en-US</option>
			<option value="de-DE">de-DE</option>
			<option value="fr-FR">fr-FR</option>
			<option value="it-IT">it-IT</option>
			<option value="sv-SE">sv-SE</option>
		</select>
	</div>
	<div class="form-row node-text-editor-row">
		<input type="hidden" id="node-input-speak" autofocus="autofocus">
		<div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-speak-editor" ></div>
	</div>
</script>

<script type="text/javascript">
  (function () {
		var TelnyxSpeakType = {
      category: 'Telnyx IVR',
      color: '#9ce7d6',
      inputs: 1,
      outputs: 1,
      icon: 'white-globe.png',
      label: function() { if (this.name) { return 'Speak: ' + this.name } else { return 'Speak Text' } },
      labelStyle: function() { return this.name ? 'node_label_italic' : '' },
      paletteLabel: function() { return 'Speak Text'; },
			oneditprepare: function() {
        this.editor = RED.editor.createEditor({
          id: 'node-input-speak-editor',
          mode: 'ace/mode/text',
          value: $("#node-input-speak").val()
        });
        this.editor.focus();
			},
      oneditsave: function() {
        $("#node-input-speak").val(this.editor.getValue());
        this.editor.destroy();
        delete this.editor;
      },
      oneditcancel: function() {
        this.editor.destroy();
        delete this.editor;
      },
      oneditresize: function(size) {
        var rows = $("#dialog-form>div:not(.node-text-editor-row)");
        var height = $("#dialog-form").height();
        for (var i=0; i<rows.size(); i++) {
          height -= $(rows[i]).outerHeight(true);
        }
        var editorRow = $("#dialog-form>div.node-text-editor-row");
        height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
        $(".node-text-editor").css("height",height+"px");
        this.editor.resize();
      },
      defaults: {
        name: { value: '' },
				speakType: { value: 'text', required: true },
				serviceLevel: { value: 'basic', required: true },
				gender: { value: 'female', required: true },
				language: { value: 'en-US', required: true },
				speak: { value: '', required: true }
      }
    };

    RED.nodes.registerType('telnyx-speak', TelnyxSpeakType);
  })();
</script>
