<script type="text/x-red" data-template-name="telnyx-init">
	<div class="form-row">
		<label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="common.label.name">Name</span></label>
		<input type="text" id="node-input-name" data-i18n="[placeholder]common.label.name" placeholder="Optional Name">
	</div>
	<div class="form-row">
			<label for="node-input-user"><i class="fa fa-user"></i> <span data-i18n="common.label.username">API Key</span></label>
			<input type="text" id="node-input-user">
	</div>
	<div class="form-row">
			<label for="node-input-password"> <i class="fa fa-lock"></i> <span data-i18n="common.label.password" id="node-span-password">Secret</span></label>
			<input type="password" id="node-input-password">
	</div>
</script>

<script type="text/javascript">
	(function () {
	  var TelnyxInitType = {
	  	category: 'Telnyx IVR',
			color: '#9ce7d6',
			inputs: 0,
			outputs: 0,
			icon: "db.png",
			label: function() { if (this.name) { return "Init IVR [" + this.name  + "]"} else { return "Init IVR" } },
			labelStyle: function() { return this.name ? "node_label_italic" : "" },
      paletteLabel: function() { return 'Init IVR'; },

			defaults: {
	  		name: { value: '' }
	  	},
			credentials: {
				user: { type: 'text' },
				password: { type: 'password' }
			},
  	};

		RED.nodes.registerType('telnyx-init', TelnyxInitType, {
			credentials: {
				user: { type: 'text' },
				password: { type: 'password' }
			}
		});
  })();
</script>
